@import "./src/styles";

.grid-header {
    font-weight:bold;
    background-color: aliceblue;
    @include header-padding;
}

.route-data {
    .row {
        @include grid-style;
    }
}

.early {
    color: red;
}

.late {
    color: blue;
}

.ontime {
    color: green;
}
