
<div class="row grid-header">
    <div class="col-md-4">Bus ID</div>
    <div class="col-md-4">Bus Variant</div>
    <div class="col-md-4">Status</div>
</div>
<div class="route-data" *ngIf="busItem">
    <div class="row" *ngFor="let busData of busItem.busData">
        <div class="col-md-4">{{busData.busId}}</div>
        <div class="col-md-4"><span [innerHTML]="getFormattedVariant(busData.routeVariant)"></span></div>
        <div class="col-md-4" [ngClass]="{'early': getStatus(busData.deviationFromTimetable) === 'Early',
        'late':  getStatus(busData.deviationFromTimetable) === 'Late', 
        'ontime':  getStatus(busData.deviationFromTimetable) === 'On Time'}">{{getStatus(busData.deviationFromTimetable)}}</div>
    </div>
</div>

    