@import "./src/styles";

.notes {
    margin-bottom: 10px;
    margin-top: 10px;
    
    &-header{
        font-weight:bold;
        background-color: rgb(244, 255, 240);
        @include header-padding;
    }
}

.notes-data {
    .row {
        @include grid-style;
        padding-bottom: 5px;
    }
}

