<div class="row notes" *ngIf="busItem && busItem.busNotes"> 
    <div class="col-md-12">
        
        <div class="row notes-header">
            <div class="col-md-3">Note</div>
            <div class="col-md-3">Created Date</div>
            <div class="col-md-3">Modified Date</div>
            <div class="col-md-3">Actions</div>
        </div>
        <div class="notes-data">
            <div class="row" *ngFor="let busNote of busItem.busNotes">
                <div class="col-md-3">{{busNote.note}}</div>
                <div class="col-md-3">{{busNote.entered | date : 'medium'}}</div>
                <div class="col-md-3"><span *ngIf="busNote.modifiedDate !== null">{{busNote.modifiedDate | date : 'medium'}}</span></div>
                <div class="col-md-3">
                    <button (click)="onEdit(busItem,busNote)" class="btn btn-sm btn-primary mr-2">Edit</button>
                    <button [disabled]="selectedBusNoteId != null" (click)="openConfirmationDialog(busItem,busNote)" type="button" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>