<div class="container">
  <div class="row">
      <div class="col-md-12">    
          <h1>{{title}}</h1>
      </div> 
  </div>
    
  <div class="row">         
    <div class="col-md-12">    
        <app-bus-reports></app-bus-reports>  
    </div>
  </div>
</div>