/* You can add global styles to this file, and also import other style files */

@import "styles-variables";
@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';


.card-header {
    padding: 0;
    
    .btn {
        width: 100%;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

@mixin header-padding {
    padding-top:10px;
    padding-bottom: 10px;
    margin: 0;
}

@mixin grid-style {
    margin: 0;
    padding-bottom: 2px;
    line-height: 2;
    border-bottom: 1px solid #dadfe4; 
}

.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal-dialog{
    top:20%;
}

.modal-header{
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}