
<div *ngIf="busReports">
    <ngb-accordion #acc="ngbAccordion" (panelChange)="onChange($event)">
        <ngb-panel *ngFor="let busItem of busReports.data; let i = index"  id="{{i}}" >
            
            <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col-md-10 left">
                      <h5>{{busItem.organisation}} - {{busItem.date}}</h5>
                  </div>
                  <div class="col-md-2 right">
                      <div *ngIf="openById[i]">
                          <fa name="chevron-down"></fa>
                    </div>
                    <div *ngIf="!openById[i]">
                        <fa name="chevron-right"></fa>
                    </div>
                  </div>
              </div>
            </ng-template>
         
            <ng-template ngbPanelContent>
                <app-bus-report-detail [busItem]="busItem"></app-bus-report-detail>
                <app-bus-notes [selectedBusNoteId]="selectedBusNoteId" [busItem]="busItem" [busReports]="busReports" (onNoteSelected)="updateNoteSelected($event)"></app-bus-notes>
               
                <div class="row notes">
                    <div class="col-md-12">
                        <textarea class="form-control" [(ngModel)]="busItem.note" rows="3" placeholder="Enter notes here"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button [disabled]="!busItem.note" (click)="onSave(busItem,i)" class="btn btn-md btn-primary mr-2">
                        <span *ngIf="selectedBusNoteId == null ; else update">
                            Save Notes
                        </span>
                        <ng-template #update>
                            Update Notes
                        </ng-template>
                        </button>
                        <button *ngIf="selectedBusNoteId !== null" (click)="onCancel(busItem)" class="btn btn-md btn-outline-secondary mr-2">Cancel</button>
                    </div>
                </div>
              
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
</div>

